body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('./assets/Landingbg.png'); 
    background-size: cover;
    background-repeat: no-repeat;
    width: fit-content;
    overflow-x:'hidden !important';
  }
  